@keyframes flash{
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.flash{
    animation: flash 1s infinite

}
.carta{
    width: 120px;
    height: 170px;
    border: 2px solid;
    border: ;
}